<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="/assets/Frame.svg" alt="логотип сайта" />
    </div>
    <nav class="header-nav">
      <div class="header-nav-item">Главная</div>
      <div class="header-nav-item">О компании</div>
      <div class="header-nav-item">Каталог</div>
    </nav>
  </div>
  <div class="header-right">
    <div class="header-logo-three">
      <img src="/assets/Phone.svg" alt="логотип сайта" />
    </div>
    <nav class="header-nav">
      <div class="header-nav-item-four">+7 (965) 084-29-29</div>
      <div class="header-logo-four">
        <img src="/assets/Vector.svg" alt="логотип сайта" />
      </div>
      <div class="logo2">
        <div class="header-logo-five">
          <img src="/assets/buying.svg" alt="логотип сайта" />
        </div>
        <div class="header-nav-item-four">Пусто</div>
      </div>
    </nav>
  </div>
</div>

<div class="header-two">
  <div class="header-left">
    <div class="header-logo-two">
      <img src="/assets/light.svg" alt="логотип" />
    </div>
    <nav class="header-nav-two">
      <div class="header-nav-item-two">Каталог</div>
      <div class="header-nav-item-two">Стройматериалы</div>
      <div class="header-nav-item-two">Инструменты</div>
      <div class="header-nav-item-two">Электрика</div>
      <div class="header-nav-item-two">Интерьер и одежда</div>
    </nav>
  </div>
  <div class="right-group">
    <div class="poisk">
      <input type="text" placeholder="Поиск..." />
      <img src="/assets/search.svg" />
    </div>

    <div class="sa1">
      <img src="/assets/loca1.svg" />
      <div class="m1">Москва</div>
    </div>
  </div>
</div>